@model IEnumerable<Aroma_Restaurent.Models.Cake>

@{
    ViewBag.Title = "Cakes";
}

<h2><b>Cakes</b></h2>
<img src="~/Assests/vanilla.jpg" width="160" height="120" />
<img src="~/Assests/choco.jpg" width="160" height="120"/>
<img src="~/Assests/strawberry.jpeg" width="160" height="120" />
<img src="~/Assests/plum.jpg" width="160" height="120" />
<img src="~/Assests/pineapple.jpg" width="160" height="120" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Items)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
