<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body style="background-color:lightpink">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aroma Bakery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-lg" aria-hidden="true"></i><b> Home</b></a></li>
                    
                    <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-phone fa-lg" aria-hidden="true"></i><b> Contact</b></a></li> 

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Cakes")"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <b>Cakes</b></a></li>
                    <li><a href="@Url.Action("Index", "Pastries")"><i class="fa fa-cutlery" aria-hidden="true"></i><b> Pastries</b></a></li>
                    <li><a href="@Url.Action("Index", "Cookies")"><i class="fa fa-coffee" aria-hidden="true"></i> <b>Cookies</b></a></li>
               </ul>


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <!-- Footer Bar -->
        <footer role="contentinfo">
            <nav class="navbar navbar-light navbar-fixed-bottom" style="background-color:#000000; color:deeppink">
                <div class="container">
                    <marquee id="marquee_speed" scrollamount="4" onmouseover=this.stop(); onmouseout=this.start(); scrolldelay="40"> <h3>&copy; <b>Ishan Sharma | Solanky Thareja | Fall-2016-COMP229-006 | Assignment-2</b> </h3>
                </div>
            </nav>
            </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
