@model IEnumerable<Aroma_Restaurent.Models.Pastry>

@{
    ViewBag.Title = "Pastries";
}

<h2><b>Pastries</b></h2>
<img src="~/Assests/applepie.jpg" width="160" height="120"/>
<img src="~/Assests/banbury.jpg" width="160" height="120"/> 
<img src="~/Assests/creamhorn.jpg" width="160" height="120"/>
<img src="~/Assests/cherrypie.jpg" width="160" height="120"/>
<img src="~/Assests/cornish.jpeg" width="160" height="120"/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
